{% include 'admin.sections.header.header_wrap' %}


<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                {% include 'admin.sections.menu' %}


            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="{{ route('logout') }}" onclick="event.preventDefault();document.getElementById('logout-form').submit();">
                                <i class="fa fa-sign-out" aria-hidden="true"></i> Выйти
                            </a>

                            <form id="logout-form" action="{{ route('logout') }}" method="POST" style="display: none;">
                                {{ csrf_field() }}
                            </form>

                        </li>

                        {#<li role="presentation" class="dropdown">#}
                        {#<a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">#}
                        {#<i class="fa fa-envelope-o"></i>#}
                        {#<span class="badge bg-green">6</span>#}
                        {#</a>#}
                        {#<ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">#}
                        {#<li>#}
                        {#<a>#}
                        {#<span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>#}
                        {#<span>#}
                        {#<span>John Smith</span>#}
                        {#<span class="time">3 mins ago</span>#}
                        {#</span>#}
                        {#<span class="message">#}
                        {#Film festivals used to be do-or-die moments for movie makers. They were where...#}
                        {#</span>#}
                        {#</a>#}
                        {#</li>#}
                        {#<li>#}
                        {#<a>#}
                        {#<span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>#}
                        {#<span>#}
                        {#<span>John Smith</span>#}
                        {#<span class="time">3 mins ago</span>#}
                        {#</span>#}
                        {#<span class="message">#}
                        {#Film festivals used to be do-or-die moments for movie makers. They were where...#}
                        {#</span>#}
                        {#</a>#}
                        {#</li>#}
                        {#<li>#}
                        {#<a>#}
                        {#<span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>#}
                        {#<span>#}
                        {#<span>John Smith</span>#}
                        {#<span class="time">3 mins ago</span>#}
                        {#</span>#}
                        {#<span class="message">#}
                        {#Film festivals used to be do-or-die moments for movie makers. They were where...#}
                        {#</span>#}
                        {#</a>#}
                        {#</li>#}
                        {#<li>#}
                        {#<a>#}
                        {#<span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>#}
                        {#<span>#}
                        {#<span>John Smith</span>#}
                        {#<span class="time">3 mins ago</span>#}
                        {#</span>#}
                        {#<span class="message">#}
                        {#Film festivals used to be do-or-die moments for movie makers. They were where...#}
                        {#</span>#}
                        {#</a>#}
                        {#</li>#}
                        {#<li>#}
                        {#<div class="text-center">#}
                        {#<a>#}
                        {#<strong>See All Alerts</strong>#}
                        {#<i class="fa fa-angle-right"></i>#}
                        {#</a>#}
                        {#</div>#}
                        {#</li>#}
                        {#</ul>#}
                        {#</li>#}
                    </ul>
                </nav>
            </div>
        </div>

